<html>

<head></head>

<body>
    <form>
        <table width="300">
            <tr>
                <td align="center" colspan="2">資料庫測試工具</td>
            </tr>
            <tr>
                <td width="100px">資料表：</td>
                <td><input type="text" id="table_name" name="table_name" value="dtab0001_ta" /></td>
            </tr>
            <tr>
                <td>執行筆數：</td>
                <td><input type="text" id="exec_count" name="exec_count" value="10" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" id="btn_local" value="Local" />
                    <input type="button" id="btn_mysql" value="MySQL" />
                    <input type="button" id="btn_mycat" value="MyCat" />
                    <input type="button" id="btn_db2" value="DB2" />
                    <input type="button" id="btn_test" value="整合測試" />
                </td>
            </tr>
        </table>
    </form>
    <table width="300">
        <tr>
            <td align="center" colspan="2">執行結果</td>
        </tr>
        <tr>
            <td width="100px">執行時間：</td>
            <td><span id="result_time">0.00</span></td>
        </tr>
        <tr>
            <td>執行結果：</td>
            <td><span id="result">None</span></td>
        </tr>
    </table>

    <script>
        var $ = document.querySelectorAll.bind(document);
        Element.prototype.on = Element.prototype.addEventListener;
        NodeList.prototype.on = function (event, fn) {
            []['forEach'].call(this, function (el) {
                el.on(event, fn);
            });
            return this;
        };
        function request(type, url, opts, callback) {
            var xhr = new XMLHttpRequest();
            if (typeof opts === 'function') {
                callback = opts;
                opts = null;
            }
            xhr.open(type, url);
            var fd = new FormData();
            if (type === 'POST' && opts) {
                for (var key in opts) {
                    fd.append(key, opts[key]);
                }
            }
            xhr.onload = function () {
                var response;
                try {
                    response = JSON.parse(xhr.response);
                } catch (e) {
                    response = xhr.response;
                }
                callback(response);
            };
            xhr.send(opts ? fd : null);
        }
        var get = request.bind(this, 'GET');
        var post = request.bind(this, 'POST');

        var resultFunction = function (resp) {
            $("#result_time")[0].innerHTML = resp.exec_time;
            $("#result")[0].innerHTML = JSON.stringify(resp);
        }

        var queryFunction = function () {
            $("#result_time")[0].innerHTML = '';
            $("#result")[0].innerHTML = '';

            var param = {
                'table_name': $("#table_name")[0].value,
                'exec_count': $("#exec_count")[0].value,
            };
            if (this.value == 'Local') {
                request("POST", "/test/execLocal", param, resultFunction);
            } else if (this.value == 'MySQL') {
                request("POST", "/test/execMySQL", param, resultFunction);
            } else if (this.value == 'MyCat') {
                request("POST", "/test/execMyCat", param, resultFunction);
            } else if (this.value == 'DB2') {
                request("POST", "/test/execDB2", param, resultFunction);
            } else {
                request("POST", "/test/execTest", param, resultFunction);
            }
        }

        $("#btn_local").on("click", queryFunction);
        $("#btn_mysql").on("click", queryFunction);
        $("#btn_mycat").on("click", queryFunction);
        $("#btn_db2").on("click", queryFunction);
        $("#btn_test").on("click", queryFunction);
    </script>
</body>

</html>